# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Rishi's Bay
email: rishi38199@gmail.com
author: Rishi Kashyap
description: >- # this means to ignore newlines until "baseurl:"
  Hey There! This website talks about me and my thoughts listed
  in my blog. Feel free to drop me a note if you have ideas
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://kolli.vercel.app" # IMPORTANT: Set this to your actual domain (e.g., https://yourdomain.com) for proper canonical URLs and SEO
# url: "https://yourdomain.com" # Uncomment and set your domain here

# SEO Settings
lang: en
timezone: Asia/Kolkata
twitter:
  username: # Add your Twitter username (without @) for Twitter Card attribution
# logo: "/assets/images/logo.png" # Optional: Add path to your site logo for better social sharing
# image: "/assets/images/banner.webp" # Optional: Default Open Graph image for social sharing

copyright: "(c) 2024-{currentYear} {author} | Photo by <a href='https://unsplash.com/photos/a-black-and-white-photo-of-the-ocean-LRVVqOFNbfI'>Felix Hanspach </a> on <a href='https://unsplash.com/'>Unsplash</a>
<br>Linkedin:<a href='https://www.linkedin.com/in/rishi-kashyap-5ab620185/'>
{author}</a>"

# Build settings
theme: jekyll-theme-yat
plugins:
  - jekyll-feed
  - jekyll-sitemap

# SEO Plugin Configuration (jekyll-seo-tag is included by the theme)
# The plugin automatically generates meta tags, Open Graph, and Twitter Cards


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
